<div class="jumbotron text-center">
    <h1 class="site-main">BroadPoint Group</h1>
    <a href="/employers" class="btn btn-lg btn-danger">See All Employers</a>
    <a href="/jobs" class="btn btn-lg btn-danger">See All Jobs</a>
    <a href="/employers/addEmployer" class="btn btn-lg btn-danger">Add Employer</a>
    <a href="/jobs/addJob" class="btn btn-lg btn-danger">Add Job</a>
</div>
